* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

section {
    height: 100vh;
}
/* head section style */
.first-section {
    background-color: rgba(229, 84, 115, 0.10);
    height: 100vh;
}

.head-container {
    display: flex;
    justify-content: space-around;
    padding: 100px;
    align-items: center;

}

.head-title {
    color: #272727;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

.head-discription {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.btn-primary {
    padding: 15px 35px;
    gap: 10px;
    border-radius: 5px;
    background-color: #E55473;
    border: 0;
    cursor: pointer;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.header-img {
    width: 400px;
    height: 500px;
}

.section-title h3 {
    color: #272727;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 15px;
}

.section-title p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* Featured Flowers section style */

.Featured-Flowers-container {
    display: flex;
    width: 75%;
    margin: auto;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 100px;
}

.item-flower {
    width: 250px;
    height: 300px;
    padding: 30px;
}

.Featured-Flowers-section {
    height: 150vh;
}

.Featured-Flowers-Item p {
    background-color: #FFF;
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    cursor: pointer;
}

.back-color-1 {
    border-radius: 500px 500px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.back-color-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.back-color-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);

}

.support-container {
    display: flex;
    width: 75%;
    margin: auto;
    height: 220px;
    border-radius: 5px;
    background: rgba(39, 39, 39, 0.05);
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.support-Item img {
    width: 70px;
    margin-bottom: 15px;
}

.support-Item p {
    color: rgba(39, 39, 39, 0.80);
    font-size: 16px;
    font-weight: 700;
    line-height: 35px;
    cursor: pointer;
}

.support-Item p:hover {
    text-decoration-line: underline;
}

/* summer section style */

.summer-container {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
}

.summer-items {
    margin-top: 50px;
    text-align: center;
}

.summer-items img {
    width: 250px;
    height: 300px;
    background-color: #CE87fd;
}

.summer-items h4 {
    color: #393838;
    font-weight: 700;
    cursor: pointer;
}

.summer-items p {
    color: #514d4d;
    font-weight: 700;
    cursor: pointer;
}

.summer-items h4:hover {
    text-decoration-line: underline;
}

.summer-items p:hover {
    text-decoration-line: underline;
}

/* sign up section style */

.sigh-up-section {
    border-radius: 5px;
    background: rgba(229, 84, 115, 0.05);
}

.deal-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
    padding-top: 100px;
}

.deal-content span {
    color: #E55473;
}

.deal-content {
    text-align: center;
}

.deal-content h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}

.deal-content p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

/* social section style */

.social-media-section {
    height: 160vh;
    align-items: center;
}

.social-container {
    width: 83%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 120px;
    align-items: center;
}

.social-container img {
    width: 250px;
    height: 300px;
}

.subscribe-container {
    width: 83%;
    margin: auto;
    align-items: center;
    text-align: center;
    background-image: url('./Flower Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.subscribe-container h2 {
    color: #272727;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding-top: 70px;
}

.subscribe-container p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.subscribe-container input {
    width: 500px;
    padding: 15px;
    height: 20px;
    border-radius: 5px;
    background: #FFF;
    font-size: 18px;
    border: 0;
}

.btn-subscribe {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    border: 0;
    padding: 15px;
    border-radius: 5px;
    background-color: #E55473;
    cursor: pointer;
}

/* footer section style */

footer{
    height: 100vh;
}
